<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
            <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
                <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
                <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
                    <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
                    <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
                    <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
                    <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
                </sectionGroup>
            </sectionGroup>
        </sectionGroup>
        <sectionGroup name="businessObjects">
            <sectionGroup name="crystalReports">
                <section name="reportMappings" type="CrystalDecisions.Shared.ReportMappingHandler, CrystalDecisions.Shared, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
            </sectionGroup>
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="ServerMail" value="mail.IonSoftnet.com" />
        <add key="FromMail" value="Administrator@IonSoftnet.com" />
        <add key="DataFormat" value="yyyy-MMM-dd" />
        <add key="DataTimeFormat" value="yyyy-MMM-dd HH:mm" />
        <add key="CrystalImageCleaner-AutoStart" value="true" />
        <add key="CrystalImageCleaner-Sleep" value="60000" />
        <add key="CrystalImageCleaner-Age" value="120000" />
        <add key="IPLIST" value="59.145.172.98:10.10.10.5:127.0.0.1" />
        <add key="WSSFilePath" value="http:\\10.10.10.9\wss\" />
    </appSettings>
    <connectionStrings>
        <!-- Comman User Creation strings block-->
      <add name="ConnectionString" connectionString="Data Source=ION-BEKK-ATUL;database=WSS;User Id=sa;pwd=Ionuser@123; current language=us_english;" providerName="System.Data.SqlClient"/>

      <!--<add name="ConnectionString" connectionString="Data Source=TESTSERVER1\VER2005;database=New_WSS;User Id=sa;pwd=Ionuser@123;current language=us_english" providerName="System.Data.SqlClient"/>-->
      <!-- <add name="ConnectionString1" connectionString="Data Source=TESTSERVER1\VER2005;database=WSS_SPOC;User Id=sa;pwd=Ionuser@123;current language=us_english" providerName="System.Data.SqlClient"/>

         <add name="ConnectionString" connectionString="Data Source=10.10.10.7;database=WSS_4_5_Live;User Id=sa; current language=us_english;" providerName="System.Data.SqlClient"/>-->
        <add name="ConnectionStringMobileBillingModule" connectionString="Data Source=IONSOFTENT2\SQLPRODUCTION;database=MobileBillingModule;User Id=sa;pwd=Ionuser@123; current language=us_english;" providerName="System.Data.SqlClient"/>
        <!--<add name="ConnectionString" connectionString="Data Source=TPAHUJA-PC;database=WSS_spoc;User Id=sa;password=Ionuser@123; current language=us_english;" providerName="System.Data.SqlClient"/>-->
        <add name="ConnectionString1" connectionString="Data Source=TPAHUJA-PC;database=WSS_spoc;User Id=sa;password=Ionuser@123; current language=us_english;" providerName="System.Data.SqlClient"/>

        <!--<add name="ConnectionString" connectionString="Data Source=10.10.10.7;database=WSS_SPOC;User Id=sa; current language=us_english;" providerName="System.Data.SqlClient"/>-->
        <!--<add name="Spoc" connectionString="Data Source=ADEWAN-PC\SQLEXPRESS2008;database=WSS_SPOC;User Id=sa;pwd=Ionuser@123; current language=us_english;" providerName="System.Data.SqlClient"/>
		<add name="Incidence" connectionString="Data Source=ADEWAN-PC\SQLEXPRESS2008;database=WSS_incidence;User Id=sa;pwd=Ionuser@123; current language=us_english;" providerName="System.Data.SqlClient"/>-->
        <!-- End Comman User Creation String Block-->

        <!--LocalServer ConnetionString-->
        <!--<add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;database=WSS_4_5Live1;User Id=sa;pwd=Ionuser@123;current language=us_english" providerName="System.Data.SqlClient"/>-->
        <!--<add name="ConnectionString1" connectionString="Data Source=.\SQLEXPRESS;database=WSS_SPOC;User Id=sa;pwd=Ionuser@123;current language=us_english" providerName="System.Data.SqlClient"/>-->
    </connectionStrings>
    <system.web>
        <httpRuntime executionTimeout="1100"  maxRequestLength="1048576"/>
        <sessionState timeout="120">
        </sessionState>
        <compilation debug="true">
            <assemblies>
                <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
                <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
                <add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
                <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
                <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
                <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
                <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
                <add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
                <add assembly="CrystalDecisions.Enterprise.Framework, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
                <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
                <add assembly="CrystalDecisions.Shared, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
                <add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
                <add assembly="CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
                <add assembly="CrystalDecisions.ReportSource, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
                <add assembly="System.Web.Extensions.Design, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
                <add assembly="System.Drawing.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
                <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
                <add assembly="TelerikCommon, Version=2009.1.9.414, Culture=neutral, PublicKeyToken=5BB2A467CBEC794E"/>
            </assemblies>
        </compilation>
        <pages theme="App_Themes" enableEventValidation="false" validateRequest="false" maintainScrollPositionOnPostBack="true">
            <namespaces>
                <clear/>
                <add namespace="System"/>
                <add namespace="System.Collections"/>
                <add namespace="System.Collections.Specialized"/>
                <add namespace="System.Configuration"/>
                <add namespace="System.Text"/>
                <add namespace="System.Text.RegularExpressions"/>
                <add namespace="System.Web"/>
                <add namespace="System.Web.Caching"/>
                <add namespace="System.Web.SessionState"/>
                <add namespace="System.Web.Security"/>
                <add namespace="System.Web.Profile"/>
                <add namespace="System.Web.UI"/>
                <add namespace="System.Web.UI.WebControls"/>
                <add namespace="System.Web.UI.WebControls.WebParts"/>
                <add namespace="System.Web.UI.HtmlControls"/>
            </namespaces>
            <controls>
                <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
                <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            </controls>
        </pages>
        <authentication mode="Forms">
            <forms name=".WSSCookie" loginUrl="Login/Login.aspx" protection="All" timeout="60" path="/"/>
        </authentication>
        <authorization>
            <deny users="?"/>
        </authorization>
        <httpHandlers>
            <remove path="*.asmx" verb="*"/>
            <add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
            <add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
            <add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
            <add path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI"/>
            <add path="ChartImage.axd" verb="*" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Version=2009.1.402.35, Culture=neutral, PublicKeyToken=121fae78165ba3d4" validate="false"/>
            <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        </httpHandlers>
        <httpModules>
            <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        </httpModules>
        <globalization culture="en-US" uiCulture="en-US"/>
    </system.web>
    <location path="AJAX Server/GetLoginInfo.aspx">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="AJAX Server/AjaxInfo.aspx">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="Images">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="Login/ForgotPassword.aspx">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
                <providerOption name="CompilerVersion" value="v3.5"/>
                <providerOption name="WarnAsError" value="false"/>
            </compiler>
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
                <providerOption name="CompilerVersion" value="v3.5"/>
                <providerOption name="OptionInfer" value="true"/>
                <providerOption name="WarnAsError" value="false"/>
            </compiler>
        </compilers>
    </system.codedom>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <modules>
            <remove name="ScriptModule"/>
            <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        </modules>
        <handlers>
            <remove name="WebServiceHandlerFactory-Integrated"/>
            <remove name="ScriptHandlerFactory"/>
            <remove name="ScriptHandlerFactoryAppServices"/>
            <remove name="ScriptResource"/>
            <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
        </handlers>
    </system.webServer>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
                <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
                <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <businessObjects>
        <crystalReports>
            <reportMappings>
                <add reportName="CallDetailReport.rpt" path="Reports\CallDetailReport.rpt"/>
                <add reportName="CallFullDetailDS.rpt" path="Reports\CallFullDetailDS.rpt"/>
                <add reportName="crAddressBook.rpt" path="Reports\crAddressBook.rpt"/>
                <add reportName="crCallDeliveryStatus.rpt" path="Reports\crCallDeliveryStatus.rpt"/>
                <add reportName="crCallDetail.rpt" path="Reports\crCallDetail.rpt"/>
                <add reportName="crCallDetailFull.rpt" path="Reports\crCallDetailFull.rpt"/>
                <add reportName="crCallEmpDetail.rpt" path="Reports\crCallEmpDetail.rpt"/>
                <add reportName="crCallStatus.rpt" path="Reports\crCallStatus.rpt"/>
                <add reportName="crCallStatusSummary1.rpt" path="Reports\crCallStatusSummary1.rpt"/>
                <add reportName="crCallSummary.rpt" path="Reports\crCallSummary.rpt"/>
                <add reportName="crCallSummaryAgg.rpt" path="Reports\crCallSummaryAgg.rpt"/>
                <add reportName="crCallTaskAction2.rpt" path="Reports\crCallTaskAction2.rpt"/>
                <add reportName="crCallTaskActionDS.rpt" path="Reports\crCallTaskActionDS.rpt"/>
                <add reportName="crCallTaskDetail.rpt" path="Reports\crCallTaskDetail.rpt"/>
                <add reportName="CrChkDiscSpace.rpt" path="Reports\CrChkDiscSpace.rpt"/>
                <add reportName="crDailyMonitoring.rpt" path="Reports\crDailyMonitoring.rpt"/>
                <add reportName="crDailyMonitoring2.rpt" path="Reports\crDailyMonitoring2.rpt"/>
                <add reportName="crDailyMonitoringBrgn.rpt" path="Reports\crDailyMonitoringBrgn.rpt"/>
                <add reportName="crDailyMonitoringBrgn1.rpt" path="Reports\crDailyMonitoringBrgn1.rpt"/>
                <add reportName="crDailyMonitoringBrgnDetail.rpt" path="Reports\crDailyMonitoringBrgnDetail.rpt"/>
                <add reportName="crDailyMonitoringBrgnDSK.rpt" path="Reports\crDailyMonitoringBrgnDSK.rpt"/>
                <add reportName="crDailyReport.rpt" path="Reports\crDailyReport.rpt"/>
                <add reportName="crEmpActHrsLanscape.rpt" path="Reports\crEmpActHrsLanscape.rpt"/>
                <add reportName="crEmpHrsPortrait.rpt" path="Reports\crEmpHrsPortrait.rpt"/>
                <add reportName="crInvoice.rpt" path="Reports\crInvoice.rpt"/>
                <add reportName="crInvoiceActions.rpt" path="Reports\crInvoiceActions.rpt"/>
                <add reportName="crInvoiceActionsDiscount.rpt" path="Reports\crInvoiceActionsDiscount.rpt"/>
                <add reportName="crInvoiceAnnexure2.rpt" path="Reports\crInvoiceAnnexure2.rpt"/>
                <add reportName="crInvoiceDatail.rpt" path="Reports\crInvoiceDatail.rpt"/>
                <add reportName="crInvoiceList.rpt" path="Reports\crInvoiceList.rpt"/>
                <add reportName="crMachineOverview.rpt" path="Reports\crMachineOverview.rpt"/>
                <add reportName="crMonitor2.rpt" path="Reports\crMonitor2.rpt"/>
                <add reportName="crMonthEndReport.rpt" path="Reports\crMonthEndReport.rpt"/>
                <add reportName="crPriorityCS2.rpt" path="Reports\crPriorityCS2.rpt"/>
                <add reportName="crReciept.rpt" path="Reports\crReciept.rpt"/>
                <add reportName="crRecieptList.rpt" path="Reports\crRecieptList.rpt"/>
                <add reportName="crsTaskSummary.rpt" path="Reports\crsTaskSummary.rpt"/>
                <add reportName="crSystemOverview.rpt" path="Reports\crSystemOverview.rpt"/>
                <add reportName="crTaskDelay.rpt" path="Reports\crTaskDelay.rpt"/>
                <add reportName="crTaskReport.rpt" path="Reports\crTaskReport.rpt"/>
                <add reportName="crTaskSummary.rpt" path="Reports\crTaskSummary.rpt"/>
                <add reportName="crTimeRegisteration.rpt" path="Reports\crTimeRegisteration.rpt"/>
                <add reportName="crTimeRegisterationCall.rpt" path="Reports\crTimeRegisterationCall.rpt"/>
                <add reportName="crTimeRegistrationAction.rpt" path="Reports\crTimeRegistrationAction.rpt"/>
                <add reportName="crCallTaskActionDS.rpt" path="Reports\ReportsPages\crCallTaskActionDS.rpt"/>
                <add reportName="crKnowledgeDBReportDS.rpt" path="Reports\ReportsPages\crKnowledgeDBReportDS.rpt"/>
                <add reportName="DailyActionReportDS.rpt" path="Reports\ReportsPages\DailyActionReportDS.rpt"/>
                <add reportName="rptIPTrack.rpt" path="Reports\rptIPTrack.rpt"/>
                <add reportName="rptNewMachineOnlineST_Dtl.rpt" path="Reports\rptNewMachineOnlineST_Dtl.rpt"/>
                <add reportName="rptNewOLStatus.rpt" path="Reports\rptNewOLStatus.rpt"/>
                <add reportName="SecurityPermissionMenu.rpt" path="Reports\SecurityPermissionMenu.rpt"/>
                <add reportName="SecurityPermissionScreens.rpt" path="Reports\SecurityPermissionScreens.rpt"/>
                <add reportName="SecurityPermissionsReport.rpt" path="Reports\SecurityPermissionsReport.rpt"/>
                <add reportName="SpocCallDetails.rpt" path="Reports\ReportsPages\SpocCallDetails.rpt"/>
            </reportMappings>
        </crystalReports>
    </businessObjects>
</configuration>
